<div class="alert alert-primary" role="alert">
    Please click <a asp-controller="Auth" asp-action="ValidateEmail"
   asp-route-userId="@ViewBag.UserId"
   asp-route-token="@ViewBag.Token" class="btn btn-outline-info">here</a>to confirm your email
</div>

